<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Messenger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="./../public/css/style.css" />
    <script src="./../public/js/socket.io.slim.js"></script>
    <script src="./../public/js/jquery.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
                <img class="logo" src="./../public/images/facebooklite-TA.jpg">
        </div>
        <div class="row">
            <p class="hosgeldin">Messenger</p>
        </div>

        <div class="row main">
            <div class="btn-group">
                <button class="btn btn-primary btn-lg button" type="button" id="giris">Giriş</button>
                <button class="btn btn-primary btn-lg button" type="button" id="kaydol">Kaydol</button>
            </div>
        </div>

        <div class="row kaydol">
            <form id="register-form" class="form-group form">
                <label for="username">User name: </label>
                <input type="text" name="username" id="rusername" class="form-control">
                <input value="Kaydol" type="submit" class="btn btn-primary btn-lg button">
            </form>
        </div>

        <div class="row giris">
            <form id="login-form" class="form-group form">
                <label for="username">User name: </label>
                <input type="text" name="username" id="lusername" class="form-control">
                <input value="Giriş" type="submit" class="btn btn-primary btn-lg button">
            </form>
        </div>

        <div id=" row messenger">
            <div class="col-sm-3 left-sidebar">
                <ul class="list-group userlist"></ul>
            </div>
            <div class="col-sm-9 content"></div>
        </div>
    </div>
    <script type="application/javascript" src="./../public/js/js.js"></script>
</body>
</html>