.hosgeldin {
    display: block;
    margin: auto;
    font-size: 5em;
    color: green;
    text-align: center;
}

.logo {
    margin: 5% auto;
    display: block;
    width: 30%;
    height: 22%;
}

.form {
    width: 50%;
    margin: 5% auto;
    display: block;
}

.button {
    margin: 3% auto;
    display: block;
}

.btn-group{
    margin: auto;
    display: block;
}

.btn-group button{
    display: inline;
}

.giris {
    display: none;
}

.kaydol {
    display: none;
}

.messenger {
    float: left;
    display: none;
}

.online {
    display: block;
    float: right;
    background-color: green;
    height: 10px;  
    width: 10px; 
    margin: 7px;
    border-radius:5px;
}

.offline {
    margin: 7px;
    float: right;
    display: block;
    background-color: red;
    height: 10px;  
    width: 10px; 
    border-radius:5px;
}

.message-content {
    float: right;
    background-color: #cceeff;
}