body {
    background-image: url("./../images/bg.jpg");
}

.hosgeldin {
    display: block;
    margin: auto;
    font-size: 5em;
    color: green;
    text-align: center;
}

.logo {
    margin: 5% auto;
    display: block;
    width: 30%;
    height: 22%;
}

.form {
    width: 50%;
    margin: 5% auto;
    display: block;
}

.button {
    margin: 0 auto;
    display: block;
}

.giris .button{
    margin: 3% auto;
    display: block;
}

.btn-group{
    margin: auto;
    display: block;
}

.btn-group button{
    display: inline;
}

.giris {
    display: none;
}

.kaydol {
    display: none;
}

.messenger {
    margin: 0;
    width: 100%;
    float: left;
    display: none;
}

.online {
    display: block;
    float: left;
    background-color: green;
    height: 10px;  
    width: 10px; 
    margin: 7px;
    border-radius:5px;
}

.offline {
    margin: 7px;
    float: left;
    display: block;
    background-color: red;
    height: 10px;  
    width: 10px; 
    border-radius:5px;
}

.users {
    width: 35%;
    margin: 0;
    padding: 0;
    float: left;
}

.users thead tr {
    height: auto;
    padding: 3%;
}

#user{
    font-size: 2em;
}

.exit {
    width: 58%;
    height: auto;
    margin: auto;
    padding: 3%;
    float: right;
    color: white;
}

.message-content {
    box-shadow: 1px 1px 4px black; 
    width: 65%;
    margin: 0;
    padding: 0;
    float: right;
}

.message-content .top-bar {
    height: auto;
    margin: 0;
    padding: 2%;
    background-color: #ece5dd; 
    box-shadow: 1px 1px 4px grey; 
    position: relative;
}

.current-user { 
    width: 85%;
    padding: 1%;
}

.current-user h5{ 
    margin: auto;
    display: block;
}

#notify-icon {
    height: 70%;
    width: 70%;
    margin: auto;
    display: inline;
}

.dropdown {
    width: 10%;
    display: block;
    margin: auto;
    padding: 0;
    float: right;
}

.dropdown-menu {
    width: 300px;
    padding: 20px;
    margin-left: -210px;
}

.content {
    margin: 0;
    width: 100%;
    height: auto; 
}

.message-form-wrapper {
    position: fixed;
    display: inline;
    bottom: 0px;
    left: 44%;
    right: 21%;
    width: 35%;
}

#message {
    width: 78%;
    margin: 1%;
    height: auto;
    float: left;
}

#message-submit {
    width: 18%;
    margin: 1%;
    float: right;
}

.izin-istegi1 {
    background-color: blueviolet;
    border-radius: 25px;
    margin: 3% auto;
    padding: 2% 3%;
    width: 80%;
    display: block;
}

.sender-message {
    float: right;
    margin: 1%;
    padding: 1%;
    width: 80%;
    height: auto;
    border-radius: 10px;
    background-color: #DCF8C6;
    box-shadow: 1px 1px 4px black; 
}

.receiver-message {
    float: left;
    margin: 1%;
    padding: 1%;
    width: 80%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px black; 
}

.content ul{
    width: 100%;
    margin: 0;
    padding: 0;
}

.content ul li{
    list-style-type: none;
}